<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="http://jakarta.ee/xml/ns/jakartaee">
    
    <display-name>Tourism Management System</display-name>

    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Encoding Filter -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>jakarta.servlet.Filter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Signup Servlet -->
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.users.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.users.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Admin Dashboard Servlets -->
    <servlet>
        <servlet-name>AdminDestinationsServlet</servlet-name>
        <servlet-class>com.admin.AdminDestinationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDestinationsServlet</servlet-name>
        <url-pattern>/admin_destinations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminPackagesServlet</servlet-name>
        <servlet-class>com.admin.AdminPackagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPackagesServlet</servlet-name>
        <url-pattern>/admin_packages</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminBookingsServlet</servlet-name>
        <servlet-class>com.admin.AdminBookingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminBookingsServlet</servlet-name>
        <url-pattern>/admin_bookings</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminReviewsServlet</servlet-name>
        <servlet-class>com.admin.AdminReviewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminReviewsServlet</servlet-name>
        <url-pattern>/admin_reviews</url-pattern>
    </servlet-mapping>

</web-app>
