<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>TripPlanner</display-name>

    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>signup.jsp</welcome-file> <!-- Make signup.jsp the first page -->
    </welcome-file-list>

   
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.users.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

   
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.users.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.users.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

</web-app>
